{
    default_sni {$WP_MAINTENANCE_DEFAULT_SNI:localhost}
}

{$WP_MAINTENANCE_DOMAIN:localhost} {$WP_MAINTENANCE_HOSTS:} {
    tls internal
    reverse_proxy web:8080
}

api.{$WP_MAINTENANCE_DOMAIN:localhost} {
    tls internal
    reverse_proxy api:8081
}
